html {
  font-size: 62.5%;
}

.Cell {
  height: 10rem;
  width: 10rem;
  background-color: #263238;
  border-radius: 2px;
  transition: background-color 0.7s ease;
}

.Cell-lit {
  background-color: #00bcd4;
}
